@import "kube",
"kube-utils",
"font-awesome";
$black: #424242;
$marrom: #a15541;
$azul: #415783;
$padding-space: 4em;
@mixin tablet {
    @media (min-width: #{$sm}) and (max-width: #{$md - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$md}) {
        @content;
    }
}


/* HELPERS */

@media (min-width: 1024px) {
    .pb-md-20 {
        padding-bottom: 20px;
    }
    .pr-md-20 {
        padding-right: 20px;
    }
    .pl-md-20 {
        padding-left: 20px;
    }
}

.container {
    position: relative;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}


/* For devices larger than 400px */

@media (min-width: 400px) {
    .container {
        width: 85%;
        padding: 0;
    }
}


/* For devices larger than 550px */

@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}


/* HEADER */

// .main-header {
//     // padding-top: 20px;
// }
.main-nav {
    background-color: $marrom;
}

.main-nav__list-container {
    padding-top: 20px;
    padding-bottom: 20px;
    @include desktop() {
        padding-left: 150px;
    }
}

.main-nav__list>li {
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    >a {
        font-size: 14px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.logo-container {
    position: relative;
    min-height: 180px;
    img {
        position: absolute;
    }
}


/* SLIDER */

.slider-container {
    height: 460px;
    background-color: #dce6e9;
}


/* FRONT PAGE POSTS */

.fp-content {
    padding-top: $padding-space;
    padding-bottom: $padding-space;
}

.post__text {
    padding-left: 20px;
}

.post__text .entry-title {
    font-size: 28px;
    margin-top: 0;
    line-height: 1;
    color: $marrom;
    >a {
        text-decoration: none;
        &:hover {
            color: inherit;
        }
        &:visited {
            color: inherit;
        }
    }
}

.section-title {
    margin-top: 0;
    margin-bottom: 1.6em;
    color: $marrom;
}

.entry-meta {
    color: #727272;
    a {
        color: inherit;
        text-decoration: none;
    }
    .cat-links {
        font-size: 87.5%;
    }
}

.fp-posts .load-more {
    background-color: $marrom;
    color: #fff;
    text-align: center;
    &:hover {
        border-color: none;
        background-color: lighten($color: $marrom, $amount: 5%);
    }
}

hr {
    border-bottom: none;
    margin-top: 40px;
    margin-bottom: 40px;
}


/* FILIADOS */

.fp-filiados {
    padding-top: $padding-space;
    padding-bottom: $padding-space;
    background: #f1f4f7;
    .col:not(.col-12) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img.forca {
        max-height: 140px;
    }

    img.cnteec {
        max-height: 75px;
    }

    img.fitedca {
        max-height: 100px;
    }
}


/* FOOTER */

.site-footer p,
.site-footer span {
    font-size: 87.5%;
    line-height: 1.6;
}

.top-footer {
    padding: 2em 0;
}

.bottom-footer {
    padding: 1em 0;
    background: $marrom;
    span {
        color: #fff;
        font-size: 87.5%;
    }
}

.footer-sn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 100%;
    background: #ccc;
    text-decoration: none;
    color: $black;
    &:visited,
    {
        color: inherit;
    }

    &:hover, &:active {
        color: #fff;
    }

    $fb: #3b5998;
    $insta: #833ab4;
    $twitter: #1da1f2;

    &.fb:hover {
        background: $fb;
    }

    &.insta:hover {
        background: $insta;
    }

    &.twitter:hover {
        background: $twitter;
    }

}

.ic {
    display: inline-block;
    vertical-align: middle;
    &.ic--prismee {
        width: 24px;
        height: 24px;
        background: url('../images/simbolo-prismee.png') no-repeat center;
        background-size: cover;
        margin-right: 5px;
    }
}


/* FEATURED POSTS */

.featured-posts {
    background: $azul;
    padding-top: $padding-space;
    padding-bottom: $padding-space;
}

.featured-post {
    margin-bottom: 0;
}

.featured-post a {
    text-decoration: none;
}

.fp__title-bar {
    background: #fcf8f8;
    padding: 10px;
    text-decoration: none;
    .fp__title {
        text-align: center;
        margin: 0;
    }
}

.featured-post .post-thumbnail img {
    vertical-align: middle;
}


/* SLIDERS */

.slider-container {
    position: relative;
    overflow: hidden;
}

.slides {
    margin: 0;
    list-style: none;
    >li {
        position: relative;
        height: 460px;
    }
    li.slick-slide {
        position: relative;
        height: 460px !important;
    }
}

.slide-media img {
    display: block;
    margin: 0 auto;
}

.slide-content-container {
    position: absolute;
    height: auto;
    width: 100%;
    z-index: 11;
    bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

.slide-content {
    position: relative;
    max-width: 560px;
    padding: 30px;
    background-color: rgba(65, 87, 131, 0.8);
    .slide-title,
    .slide-text {
        color: #fff;
    }
    .button:visited {
        color: #fff;
    }

    @media (min-width: 1024px) {
        margin-left: 75px;
    }
}

.slick-prev,
.slick-next {
    width: 42px;
    height: 42px;
    z-index: 15;
}

.slick-prev:before,
.slick-next:before {
    font-size: 42px;
    opacity: .75;
    // color: $azul;
}


/* SINGLE */

.content-area {
    padding-top: $padding-space;
    // padding-bottom: $padding-space;
}

.single-text .entry-title {
    color: $marrom;
}

.single-post .entry-meta {
    color: #757575;
    padding-top: 1em;
    line-height: 1;
    a {
        color: inherit;
        text-decoration: none;
    }
    .posted-on time,
    .cat-links {
        font-size: 14px;
    }
    .cat-links {
        font-weight: 700;
    }
}

/* WIDGETS */

@media (min-width: 1024px) {

    .widget-area {
        padding-left: 20px;
    }

    .fp-content .widget-area {
        padding-left: 40px;
        padding-top: 70px;
    }
}

.widget_recent_entries{
    border-top: 2px solid $azul;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;

    > ul {
        list-style: none;
        margin: 0;
    }

    > ul > li {
        line-height: 1.2;
        margin-top: 15px;
    }

    > ul > li > a {
        text-decoration: none;
        color: $black;
        &:hover {
            border-bottom: 1px dashed $black;
        }
    }
} 

/* SEARCH */

.search-title {
    margin-top: 0;
    margin-bottom: 40px;
}